:root {
    --main-clr: green;
    --secondary-clr: black;
    --tertiary-clr: gainsboro;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(./pencil-sketch-texture_1409-1476.jpeg);
    background-repeat: repeat;
}

.header {
    align-self: center;
}

h1 {
    color: var(--main-clr);
}

h3 {
    color: var(--main-clr);
}

.main {
    display: flex;
    justify-self: center;
    align-self: center;
}

button {
    align-self: center;
    margin-top: 50px;
    width: 100px;
    color: var(--main-clr);
    border-color: var(--main-clr)
}

.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    width: 500px;
    height: 500px;
    border-style: groove;
    border-color: var(--main-clr);
}

.cell {
    display: flex;
    background-color: var(--tertiary-clr);
}

.footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--main-clr);
}

a:hover {
    color: var(--main-clr);
}


/*.cell:hover {
    background-color: black;
}

.change {
    background-color: green;
}

.change1 {
    background-color: green;
}