body {
    display: flex;
    flex-direction: column;
    background-image: url(./pencil-sketch-texture_1409-1476.jpeg);
    background-repeat: repeat-y;
}

.header {
    align-self: center;
}

h1 {
    color: green;
}

h3 {
    color: green;
}

.main {
    display: flex;
    justify-self: center;
    align-self: center;
}

button {
    align-self: center;
    margin-top: 50px;
    width: 100px;
    color: green;
    border-color: green;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    width: 500px;
    height: 500px;
    border-style: groove;
    border-color: green;
}

.cell {
    display: flex;
    background-color: gainsboro;
}


/*.cell:hover {
    background-color: black;
}

.change {
    background-color: green;
}

.change1 {
    background-color: green;
}